<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login">
  <p>
    {{ error }}
  </p>
  <p>
    {{get_flashed_messages()}}
  </p>
    <p>
        Please enter your username:<br>
	<input name="username">
    </p>
    <p>
        Please enter your password:<br>
	<input name="password" type="password">
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}
